
<div class="grid-container">
  <aside class="sidebar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Replace your sidebar code with this -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="section1Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Introduktion
              </a>
              <ul class="dropdown-menu" aria-labelledby="section1Dropdown">
                <li><a class="dropdown-item" href="/klient-server">Klient-server-modellen</a></li>
                <li><a class="dropdown-item" href="/variabler">Variabler og scope</a></li>
                <li><a class="dropdown-item" href="/datatyper">Datatyper</a></li>
                <li><a class="dropdown-item" href="/datastrukturer">Datastrukturer</a></li>
                <li><a class="dropdown-item" href="/clean-code">Clean code</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="section2Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                JavaScript
              </a>
              <ul class="dropdown-menu" aria-labelledby="section2Dropdown">
                <li><a class="dropdown-item" href="/funktioner">Funktioner</a></li>
                <li><a class="dropdown-item" href="/callback-arrow">Arrow og callback-funktioner</a></li>
                <li><a class="dropdown-item" href="/fetch">Fetch</a></li>
                <li><a class="dropdown-item" href="/event-loop">Event loop</a></li>
                <li><a class="dropdown-item" href="/callbacks-vs-promises-vs-async-await">Callbacks vs. Promises vs. Async/Await</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="section3Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Node.js
              </a>
              <ul class="dropdown-menu" aria-labelledby="section3Dropdown">
                <li><a class="dropdown-item" href="/node">Node.js</a></li>
                <li><a class="dropdown-item" href="/nodemon">Nodemon</a></li>
                <li><a class="dropdown-item" href="/package-managers">Package managers</a></li>
                <li><a class="dropdown-item" href="/entrypoint">Entry point</a></li>
                <li><a class="dropdown-item" href="/require-vs-import">Require vs import</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="section4Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Express
              </a>
              <ul class="dropdown-menu" aria-labelledby="section4Dropdown">
                <li><a class="dropdown-item" href="/installere-express">Installere Express</a></li>
                <li><a class="dropdown-item" href="/express">Express.js</a></li>
                <li><a class="dropdown-item" href="/middleware">Middleware</a></li>
                <li><a class="dropdown-item" href="/gitignore">Gitignore</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="section7Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Deployment/library
              </a>
              <ul class="dropdown-menu" aria-labelledby="section7Dropdown">
                <li><a class="dropdown-item" href="/vercel">Vercel</a></li>
                <li><a class="dropdown-item" href="/highlight">Highlight</a></li>
                <li><a class="dropdown-item" href="/inline-vs-external-css">Inline vs. External CSS</a></li>
                <li><a class="dropdown-item" href="/circular-dependency">Circular Dependency</a></li>
              </ul>
            </li>
          </ul>
          <!-- Add your login/logout code here -->
          <div id="loggedInStatus" style="display: none;">
            <div class="btn-group">
              <p class="mb-3 mr-2" id="status">Logged in as [username]</p>
              <button type="button" id="signOutButton" class="btn btn-outline-success font-monospace text-white rounded p-0">Log ud</button>
            </div>
          </div>
        </div>
      </div>
    </nav>
    

  

  </aside>