
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Mindst 100% af viewportens højde */
  margin: 0;
}


header {
  background-color:#649544;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
}

.header-icon {
  font-size: 24px;
  margin-right: auto;
  margin-left: 10px;
  color: black;
}

.header-title {
  margin: 0;
  flex-grow: 1; /* Allow the title to take up remaining space */
  text-align: center; 
}

.container {
  display: flex;
  justify-content: space-between; /* Add this to separate the sidebar and main content */
  flex-direction: column; /* Add this line to make it a vertical flex container */
  min-height: 100vh; /* Ensure the container fills the viewport height */
}


#sidebar-placeholder {
  width: 0;
}
/* Custom styles for the sidebar titles */
.nav-link {
  color: black; 
}
.dropdown {
  list-style: none;
  cursor: pointer;
}

/* Custom styles for dropdown buttons */
.dropdown-btn {
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
}

/* Custom styles for dropdown menus */
.dropdown-menu {
  margin-left: 5px;
  display: none;
  list-style: none;
}

.dropdown span {
  display: block;
  margin-bottom: 5px;
}

.submenu {
  display: none;
  list-style: none;
  margin-left: 5px;
}

/* Main content styles */
#mainContainer {
  flex-grow: 1;  /* Gør hovedindholdet fleksibelt og udfyld tilgængelig plads */
}


/* Hide the hamburger icon by default */
.icon {
  display: none;
}

.infoboks h2 {
  margin-top: 20px; 
  margin-bottom: 20px;
}

/* CSS styles for the mobile menu */
.mobile-menu {
  display: none;
  background-color: #74d34c;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 1;
}

.mobile-menu-item {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.mobile-menu-item:hover {
  background-color: #74d34c;
  transition: background-color 0.3s;
}

#messageDiv {
  background-color: #f8d7da; 
  color: #721c24; /* Text color */
  padding: 10px;
  border: 1px solid #f5c6cb; 
  margin-top: 10px;
  display: none; 
}

footer {
  background-color: #333; 
  color: #fff; 
  padding: 20px;
 }

 .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-section {
  margin: 0;
}

.footer-section a {
  color: #fff; 
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: #74d34c; 
}
 


/* CSS for Mobile Screens */
@media screen and (max-width: 768px) {
  /* Hide the sidebar by default on mobile */
  .sidebar {
    display: none;
  }
/* Show the hamburger icon */
  .icon {
    /* display: inline-block; */
    display: block;
    color: black;
    margin-left: 10px;
  }
 
  .header-title {
  text-align: center;
  }


  /* Show the mobile menu when the sidebar is hidden */
  /* #mobile-menu {
    display: block;
  } */

    /* Show the mobile menu when the hamburger icon is clicked */
    .mobile-menu.show {
      display: block;
    }

  /* Make dropdown menus full width on mobile */
  .dropdown-menu {
    width: 100%;
    left: 0;
    right: 0;
  }

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #74d34c;
  color: white;
}


}

/* CSS for Larger Screens */
@media screen and (min-width: 769px) {
  /* Show the sidebar on larger screens */
  .sidebar {
    display: flex;
  }

  /* Hide the mobile menu on larger screens */
  #mobile-menu {
    display: none;
  }
} 

