
p {
  padding-top: 5px;
  margin-bottom: 5px;
}

h2 {
  margin-top: 30px;
}

pre {
  margin-top: 2em;
}

.list-style-type-none {
  list-style-type: none;
}

.responsive-image {
  max-width: 90%;
  height: auto;
}

.responsive-snippet {
  max-width: 70%;
  height: auto;
}

.responsive-snippet-small {
  max-width: 30%;
  height: auto;
}


.bottom-section {
  margin-bottom: 20vh;
}


#scrollToTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px; /* Adjust the left position as needed */
  z-index: 99;
  background-color: white;
  color: #000; /* Change the color to black */
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

#scrollToTopButton i {
  font-size: 24px; 
}

#scrollToTopButton:hover {
  background-color:  #fff;
  color: #3b4044; 
}