


body {
  overflow-x: hidden;
  max-width: 100%;
  margin: 0; 
  display: flex;
  flex-direction: column; /* Stack header, content, and footer vertically */
  min-height: 100vh; /* Ensure at least viewport height */
}

body, h1, h2 {
  margin: 0;
  padding: 0;

}


main {
  margin: 0;
  padding: 0;
  background-color: white;
  flex-grow: 1; /* Allow content to grow and take remaining space */
  padding: 1rem;
  max-width: 100%;

}

/* Custom CSS for centering the title */
/* .header-title-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
 */


.grid-container {
  display: grid;
  grid-template-columns: auto 1fr; /* Sidebar and content columns */
  grid-template-rows: auto 1fr auto; /* Header, content, and footer rows */
  grid-template-areas:
      "header header"
      /* "sidebar content" */
      "footer footer";
  min-height: 100vh; 
  width: 100vh;

}



.sidebar {
  grid-area: sidebar;
  background-color: white;
  padding: 1rem;
}

.content {
  grid-area: content;
  padding: 1rem;
  margin-top: 1rem;
  max-width: 100%;
 
}

.infobox {
  background-color: #f5f5f5;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;  
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}



.footer {
  grid-area: footer;
  background-color: #333; 
  color: white; 
  text-align: center;
}


h2 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h3 {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

li {
  line-height: 2em;
}

#home-icon {
  color: #f5f5f5;
}

.header-icon {
  font-size: 35px;
  margin-right: auto;
  margin-left: 10px;
  color: black;
}

#status {
  margin-right: 10px; 
}

/* Adjust vertical alignment of the button text */
#signOutButton {
  vertical-align: middle;
  margin-top: -4px; /* Adjust as needed to align the text precisely */
}



.responsive-image {
  max-width: 90%;
  height: auto;
}

/* .responsive-snippet {
  max-width: 100%; 
  width: auto; 
  height: auto;
} */

.responsive-snippet {
   max-width: 70%; /* Expand to 100% of container width */
   width: auto; 
   height: auto;
}

.responsive-snippet-small {
  max-width: 30%;
  width: auto; 
  height: auto;
}


.responsive-snippet-medium {
  max-width: 50%;
  width: auto; 
  height: auto;
} 


#scrollToTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px; 
  z-index: 99;
  background-color: white;
  color: #000;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

#scrollToTopButton i {
  font-size: 24px; 
}

#scrollToTopButton:hover {
  background-color:  #fff;
  color: #3b4044; 
}



/* navbar title links */
.navbar-nav .nav-link {
  color: gray;
}

/* dropdown menu items */
.navbar-nav .dropdown-menu .dropdown-item {
  color: black;
}

/* the active link  */
.navbar-nav .nav-item.active .nav-link {
  color: whitesmoke;
}


.dropdown-toggle::after {
  border: none;
}

/* OBS ændre størrelse på snippets og billeder på en mobil skærme! */

/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 767px) {
  

  .responsive-snippet-small,
  .responsive-snippet-medium,
  .responsive-snippet,
  .responsive-image {
    max-width: 100%;
    width: auto; 
    height: auto;
  }
  
  
}