
header {
  background-color:#74d34c;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
}


.header-title {
  margin: 0;
  flex-grow: 1; /* Allow the title to take up remaining space */
  text-align: center; 
}



.nav-link {
  color: black; 
}

.dropdown {
  list-style: none;
  cursor: pointer;
}


.dropdown-btn {
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
}


.dropdown-menu {
  margin-left: 5px;
  display: none;
  list-style: none;
}

.dropdown span {
  display: block;
  margin-bottom: 5px;
}

.submenu {
  display: none;
  list-style: none;
  margin-left: 5px;
}


.custom-modal .modal-header {
  background-color: #74d34c;
  color: black; 
}

.custom-modal .modal-body {
  background-color: #f8f9fa; 
  color: #333; 
}

.custom-modal .modal-footer {
  background-color: #f8f9fa; 
  color: #333; 
}


.modal-backdrop {
  background-color: #74d34c;
}


.custom-modal .modal-footer #signInModalButton:hover {
  background-color: #74d34c; 
  color: white; 
  border-color: #74d34c; 
}



/* Hide the hamburger icon by default */
/* .icon {
  display: none;
}

.infoboks h2 {
  margin-top: 20px; 
  margin-bottom: 20px;
}
 */


/* CSS styles for the mobile menu */
/* .mobile-menu {
  display: none;
  background-color: #74d34c;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 1;
} */

.mobile-menu-item {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.mobile-menu-item:hover {
  background-color: #74d34c;
  transition: background-color 0.3s;
}

#messageDiv {
  background-color: #f8d7da; 
  color: #721c24; /* Text color */
  padding: 10px;
  border: 1px solid #f5c6cb; 
  margin-top: 10px;
  display: none; 
}

footer {
  background-color: #333; 
  color: #fff; 
  padding: 20px;
 }

 .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-section {
  margin: 0;
}

.footer-section a {
  color: #fff; 
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: #74d34c; 
}
 


/* CSS for Mobile Screens */
@media screen and (max-width: 768px) {
  
  .header-title {
  text-align: center;
  }


  /* Make dropdown menus full width on mobile */
  .dropdown-menu {
    width: 100%;
    left: 0;
    right: 0;
  }

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #74d34c;
  color: white;
}


}