

body, h1, h2, p {
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
  padding: 0;
  background-color: white;
}

/* Define a grid container to structure the layout */
.grid-container {
  display: grid;
  grid-template-columns: auto 1fr; /* Sidebar and content columns */
  grid-template-rows: auto 1fr auto; /* Header, content, and footer rows */
  grid-template-areas:
      "header header"
      "sidebar content"
      "footer footer";
  min-height: 100vh; 
}

/* Style the header */
header {
  grid-area: header;
  background-color: #74d34c; 
  color: white; /* Customize text color */
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
}


.sidebar {
  grid-area: sidebar;
  background-color: #f5f5f5;
  padding: 1rem;
}

.content {
  grid-area: content;
  padding: 1rem;
}

.footer {
  grid-area: footer;
  background-color: #333; 
  color: white; 
  text-align: center;
}


h2 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}


#home-icon {
  color: #f5f5f5;
}

.header-icon {
  font-size: 35px;
  margin-right: auto;
  margin-left: 10px;
  color: black;
}