
#array-liste {
  list-style-type: none;
}




/* Style for the Admin Sign In link */
.admin-link {
  font-weight: bold; 
  color: black; 
  text-decoration: none; 
  margin-right: 20px; 
}

.section-text {
  margin-bottom: 40px;
}

